@charset "UTF-8";
.Q_nav .Q_navbox .Q_left, .Q_content .Q_list .Q_language .Q_words .Q_click .Q_dian {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

.Q_nav .Q_navbox .Q_title, .Q_content .Q_list .Q_language .Q_video .Q_play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.Q_nav {
  width: 100%;
  height: 0.88rem;
  background: url(../images/Q_1.png) no-repeat;
  background-size: cover; }
  .Q_nav .Q_navbox {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.24rem;
    position: relative; }
    .Q_nav .Q_navbox .Q_left {
      position:absolute;
      width: 1.02rem;
      height: 0.56rem;
      background: url(../images/q-15.png);
      background-size: cover;
    z-index:100}
    .Q_nav .Q_navbox .Q_title h1 {
      text-align: center;
      font-size: 0.30rem;
      margin-top: 0.12rem;
      color: #fff; }
    .Q_nav .Q_navbox .Q_title h2 {
      text-align: center;
      font-size: 0.18rem;
      color: #bfc0c2; }

.Q_content {
  padding: 0 0.24rem;
  margin-top: 0.36rem;
  background-image: url("../images/q-18.png");
  background-repeat: repeat-y;
  background-position: 0.64rem 0; }
  .Q_content .Q_list {
    width: 100%; }

.Q_content .Q_list .Q_deliver {
  width: 100%;
  height: 0.75rem;
  overflow: hidden; }
  .Q_content .Q_list .Q_deliver .Q_head {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    float: left; }
    .Q_content .Q_list .Q_deliver .Q_head img {
      width: 0.75rem; }
  .Q_content .Q_list .Q_deliver .Q_name {
    float: left;
    margin-left: 0.08rem; }
    .Q_content .Q_list .Q_deliver .Q_name .Q_names {
      font-size: 0.3rem; }
      .Q_content .Q_list .Q_deliver .Q_name .Q_names img {
        width: 0.29rem; }
    .Q_content .Q_list .Q_deliver .Q_name .Q_sign {
      font-size: 0.24rem;
      color: #4c5055；; }
  .Q_content .Q_list .Q_deliver .Q_concern {
    width: 1.14rem;
    height: 0.49rem;
    background-color: rgba(83, 250, 78, 0.3);
    float: right;
    margin-top: 0.15rem;
    background: url(../images/q-12.png) no-repeat;
    background-size: cover; }
    .Q_content .Q_list .Q_deliver .Q_concern .Q_guan img {
      width: 0.33rem;
      margin-left: 0.13rem;
      margin-top: 0.08rem;
      display: block;
      float: left; }
    .Q_content .Q_list .Q_deliver .Q_concern .Q_guan span {
      height: 0.33rem;
      font-size: 0.24rem;
      line-height: 0.49rem;
      display: block;
      float: left; }

.Q_content .Q_list .Q_language {
  width: 89%;
  margin-top: 0.2rem;
  margin-left: 11%; }
  .Q_content .Q_list .Q_language .Q_wenzi {
    font-size: 0.24rem;
    line-height: 1.5em; }
  .Q_content .Q_list .Q_language .Q_video {
    width: 100%;
    border-radius: 2px;
    margin-top: 0.20rem;
    position: relative; }
    .Q_content .Q_list .Q_language .Q_video img {
      width: 100%; }
    .Q_content .Q_list .Q_language .Q_video .Q_play {
      width: 0.69rem;
      height: 0.69rem; }
  .Q_content .Q_list .Q_language .Q_time {
    width: 100%;
    height: 0.5rem;
    margin-top: 0.1rem; }
    .Q_content .Q_list .Q_language .Q_time .Q_shi {
      width: 30%;
      float: left;
      height: 0.25rem; }
      .Q_content .Q_list .Q_language .Q_time .Q_shi img {
        width: 0.25rem; }
      .Q_content .Q_list .Q_language .Q_time .Q_shi span {
        font-size: 0.24rem;
        color: #afafae; }
    .Q_content .Q_list .Q_language .Q_time .Q_zan {
      width: 50%;
      height: 0.5rem;
      float: right; }
      .Q_content .Q_list .Q_language .Q_time .Q_zan .Q_tu {
        width: 50%;
        float: left; }
        .Q_content .Q_list .Q_language .Q_time .Q_zan .Q_tu .Q_tu1 {
          width: 0.5rem;
          height: 0.5rem;
          float: left; }
          .Q_content .Q_list .Q_language .Q_time .Q_zan .Q_tu .Q_tu1 img {
            width: 0.5rem; }
        .Q_content .Q_list .Q_language .Q_time .Q_zan .Q_tu .Q_see {
          height: 0.5rem;
          float: left;
          margin: 0 0.05rem 0 0.05rem; }
          .Q_content .Q_list .Q_language .Q_time .Q_zan .Q_tu .Q_see p {
            font-size: 0.24rem;
            line-height: 1em; }
  .Q_content .Q_list .Q_language .Q_words {
    width: 100%;
    height: 0.88rem;
    margin-top: 0.3rem;
    margin-bottom: 0.45rem;
    border: 2px solid #dadada;
    border-radius: 4px;
    position: relative; }
    .Q_content .Q_list .Q_language .Q_words input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: none; }
    .Q_content .Q_list .Q_language .Q_words .Q_click {
      position: absolute;
      top: 0;
      left: 0.2rem;
      z-index: -1;
      width: 20%;
      height: 100%; }
      .Q_content .Q_list .Q_language .Q_words .Q_click .Q_dian {
        width: 0.08rem;
        height: 0.08rem;
        border-radius: 50%;
        background: #f33c53; }
      .Q_content .Q_list .Q_language .Q_words .Q_click .Q_color {
        background: #2beecc;
        left: 0.2rem; }
      .Q_content .Q_list .Q_language .Q_words .Q_click p {
        font-size: 0.3rem;
        line-height: 0.88rem;
        color: #aaa;
        display: block;
        position: absolute;
        left: 0.4rem; }

.Q_content .Q_list .Q_deliver .Q_concern1 {
  width: 0.26rem;
  height: 0.14rem;
  float: right;
  margin-top: 0.15rem;
  background: url(../images/q-7.png) no-repeat;
  background-size: cover; }

.Q_content .Q_list .Q_language .Q_liu {
  margin-top: 0.1rem; }
  .Q_content .Q_list .Q_language .Q_liu .Q_bgimg {
    width: 100%;
    height: 0.04rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    background: url(../images/Q_20.png) no-repeat;
    background-size: cover; }
  .Q_content .Q_list .Q_language .Q_liu p {
    font-size: 0.26rem;
    color: #828385; }
