@charset "UTF-8";
.Q_nav .Q_navbox .Q_left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

.Q_nav .Q_navbox .Q_title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

a {
  display: block; }

.Q_nav {
  width: 100%;
  height: 0.88rem;
  background: url(../images/Q_1.png) no-repeat;
  background-size: cover; }
  .Q_nav .Q_navbox {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.24rem;
    position: relative; }
    .Q_nav .Q_navbox .Q_left {
      z-index: 100;
      width: 1.02rem;
      height: 0.56rem;
      background: url(../images/q-15.png);
      background-size: cover; }
    .Q_nav .Q_navbox .Q_title h1 {
      text-align: center;
      font-size: 0.30rem;
      margin-top: 0.12rem;
      color: #fff; }
    .Q_nav .Q_navbox .Q_title h2 {
      text-align: center;
      font-size: 0.18rem;
      color: #bfc0c2; }

.L_later_nav {
  font-family: "苹方";
  font-size: 0.3rem;
  height: 1.24rem;
  text-align: center; }
  .L_later_nav .col-3 {
    height: 100%;
    background-color: #f8f8f8;
    border-bottom: 0.06rem solid #f5f5f5;
    position: relative; }
    .L_later_nav .col-3 a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .L_later_nav .col-3 a .L_later_nav_zi {
        margin-top: 0.73rem; }
    .L_later_nav .col-3 .L_col_bg1 {
      background: url("../images/L_later_01.png") no-repeat center 0.23rem;
      background-size: 0.49rem 0.44rem; }
    .L_later_nav .col-3 .L_col_bg2 {
      background: url("../images/L_later_02.png") no-repeat center 0.23rem;
      background-size: 0.49rem 0.44rem; }
    .L_later_nav .col-3 .L_col_bg3 {
      background: url("../images/L_later_03.png") no-repeat center 0.23rem;
      background-size: 0.49rem 0.44rem; }
    .L_later_nav .col-3 .L_col_bg4 {
      background: url("../images/L_later_04.png") no-repeat center 0.23rem;
      background-size: 0.49rem 0.44rem; }
  .L_later_nav .L_later_nav_active {
    border-bottom: 0.06rem solid #f33c53;
    height: 1.28rem;
    position: relative;
    top: -0.04rem;
    left: 0;
    z-index: 99; }
    .L_later_nav .L_later_nav_active a {
      color: #f33c53; }

.L_later_serch {
  width: 100%;
  height: 1.16rem;
  background: #323840;
  padding: 0 3.2%; }
  .L_later_serch form {
    width: 100%;
    height: 100%;
    position: relative; }
    .L_later_serch form .L_later_serch_sou {
      width: 10.96866%;
      height: 0.72rem;
      position: absolute;
      top: 0.25rem;
      right: 0;
      background: url("../images/L_later_sou_17.png") no-repeat center center;
      background-size: 0.3rem 0.3rem;
      background-color: #f2f2f2; }
    .L_later_serch form .L_later_serch_dian1 {
      position: absolute;
      top: 0.28rem;
      left: 1.9943%;
      line-height: 0.72rem;
      font-size: 0.4rem;
      color: #fa8220; }
    .L_later_serch form .L_later_serch_dian2 {
      position: absolute;
      top: 0.28rem;
      left: 3.1339%;
      line-height: 0.72rem;
      font-size: 0.4rem;
      color: #49bcfd; }
  .L_later_serch .L_later_serch_kuan {
    width: 100%;
    height: 0.73rem;
    border-radius: 0.05rem;
    margin-top: 0.20rem; }

.L_later_message {
  width: 100%;
  height: 1.03rem;
  padding: 0 3.2%; }
  .L_later_message .L_later_message_list {
    width: 100%;
    height: 1.03rem;
    border-bottom: 2px solid #e5e5e5;
    position: relative; }
  .L_later_message .L_later_message_list_dian1 {
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: -0.04rem;
    background-color: #c0baba; }
  .L_later_message .L_later_message_list_dian2 {
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -0.04rem;
    background-color: #c0baba; }
  .L_later_message .L_later_message_list_left {
    width: 0.66rem;
    height: 0.66rem;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    position: relative;
    top: 0.18rem;
    float: left; }
    .L_later_message .L_later_message_list_left img {
      width: 0.62rem;
      height: 0.62rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 0.02rem; }
  .L_later_message .L_later_message_list_right {
    width: 89.92908%;
    height: 100%;
    float: left;
    padding: 0.12rem 0 0 0.12rem; }
    .L_later_message .L_later_message_list_right .L_near_list_con_title {
      font-size: 0.26rem;
      color: #000;
      float: left;
      border-bottom: 2px solid #e5e5e5;
      position: relative; }
    .L_later_message .L_later_message_list_right .L_near_list_con_star {
      margin-left: 1.33333%; }
      .L_later_message .L_later_message_list_right .L_near_list_con_star span {
        display: block;
        width: 0.16rem;
        height: 0.16rem;
        float: left;
        margin-left: 0.4%;
        margin-top: 0.12rem;
        background: url("../images/L_near_list_star_11.jpg") no-repeat center center;
        background-size: 0.16rem 0.16rem; }
    .L_later_message .L_later_message_list_right .L_near_list_con_scrp {
      width: 100%;
      max-height: 0.62rem;
      font-size: 0.18rem;
      color: #757779;
      overflow: hidden;
      margin-bottom: 0.05rem; }
      .L_later_message .L_later_message_list_right .L_near_list_con_scrp span {
        display: block;
        float: left; }
      .L_later_message .L_later_message_list_right .L_near_list_con_scrp div {
        float: left; }
    .L_later_message .L_later_message_list_right .L_near_list_con_time {
      width: 1.6rem;
      height: 0.25rem;
      float: right;
      font-size: 0.18rem;
      line-height: 0.25rem;
      margin-top: 0.12rem; }
      .L_later_message .L_later_message_list_right .L_near_list_con_time span {
        display: block;
        width: 0.25rem;
        height: 0.25rem;
        background: url("../images/L_near_list_time_14.jpg") no-repeat center center;
        background-size: 0.18rem 0.18rem;
        float: left;
        margin-right: 0.05rem; }
        .L_later_message .L_later_message_list_right .L_near_list_con_time span div {
          float: left; }
