.lt_music .lt_hot .bottom .left .left_img .bot .lt_left, .lt_music .lt_hot .bottom .left .left_img .bot .lt_right, .lt_music .lt_hot .bottom .right .left_img .bot .lt_left, .lt_music .lt_hot .bottom .right .left_img .bot .lt_right, .lt_music .lt_new .center .lt_banner li:nth-child(1), .lt_music .lt_new .center .lt_banner li:nth-child(2), .lt_music .lt_new .center .lt_banner li:nth-child(3) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

.lt_music .cover, .lt_music .lt_cate a p, .lt_music .lt_hot .bottom .left .left_img .bot, .lt_music .lt_hot .bottom .right .left_img .bot, .lt_music .lt_hot .three {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }

.lt_header .lt_top .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

body {
  background: #f7f7f7; }
@charset "UTF-8";
.nav .logo, .tab a:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.font-20 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-20 {
      font-size: 12px; } }
  @media (min-width: 375px) {
    .font-20 {
      font-size: 14px; } }
  @media (min-width: 750px) {
    .font-20 {
      font-size: 20px; } }

.font-28 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-28 {
      font-size: 12px; } }
  @media (min-width: 360px) {
    .font-28 {
      font-size: 14px; } }
  @media (min-width: 375px) {
    .font-28 {
      font-size: 16px; } }
  @media (min-width: 412px) {
    .font-28 {
      font-size: 16px; } }
  @media (min-width: 750px) {
    .font-28 {
      font-size: 28px; } }

.font-30 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-30 {
      font-size: 14px; } }
  @media (min-width: 360px) {
    .font-30 {
      font-size: 16px; } }
  @media (min-width: 375px) {
    .font-30 {
      font-size: 18px; } }
  @media (min-width: 412px) {
    .font-30 {
      font-size: 20px; } }
  @media (min-width: 750px) {
    .font-30 {
      font-size: 30px; } }

.font-26 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-26 {
      font-size: 12px; } }
  @media (min-width: 360px) {
    .font-26 {
      font-size: 14px; } }
  @media (min-width: 375px) {
    .font-26 {
      font-size: 16px; } }
  @media (min-width: 412px) {
    .font-26 {
      font-size: 16px; } }
  @media (min-width: 750px) {
    .font-26 {
      font-size: 26px; } }

.font-24 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-24 {
      font-size: 12px; } }
  @media (min-width: 360px) {
    .font-24 {
      font-size: 14px; } }
  @media (min-width: 375px) {
    .font-24 {
      font-size: 16px; } }
  @media (min-width: 412px) {
    .font-24 {
      font-size: 16px; } }
  @media (min-width: 750px) {
    .font-24 {
      font-size: 24px; } }

.font-44 {
  font-size: 16px; }
  @media (min-width: 320px) {
    .font-44 {
      font-size: 16px; } }
  @media (min-width: 360px) {
    .font-44 {
      font-size: 18px; } }
  @media (min-width: 375px) {
    .font-44 {
      font-size: 20px; } }
  @media (min-width: 412px) {
    .font-44 {
      font-size: 24px; } }
  @media (min-width: 750px) {
    .font-44 {
      font-size: 44px; } }

.container {
  padding: 0 0.24rem; }

/*头部*/
.header {
  height: 2.22rem;
  background: url(../img/s_bg.jpg);
  padding-top: 0.15rem; }

.nav {
  height: 0.9rem;
  padding-top: 0.15rem;
  position: relative; }
  .nav a {
    display: block;
    height: 0.6rem; }
    .nav a img {
      height: 100%; }
  .nav .btn_center {
    float: left; }
  .nav .btn_search {
    float: right; }
  .nav .logo {
    height: 0.56rem; }
  .nav span {
    display: block;
    width: 0.42rem;
    height: 0.22rem;
    background: #f33c53;
    position: absolute;
    left: 0.32rem;
    top: 0.08rem;
    line-height: 0.22rem;
    border-radius: 0.11rem;
    text-align: center;
    color: #f9f9f9;
    text-shadow: 2px 4px 5px #ec2d40;
    overflow: hidden; }
.lt_header {
  width: 100%;
  height: 2.7rem;
  background: url("../img/lt_rot.png");
  margin: 0 auto;
  padding: 0 0.22rem;
  box-sizing: border-box;
  padding-top: 0.39rem; }
  .lt_header .lt_top {
    width: 100%;
    height: 0.74rem;
    position: relative; }
    .lt_header .lt_top .left {
      display: block;
      width: 0.75rem;
      height: 100%;
      background: url("../img/lt_search.png") no-repeat left bottom;
      background-size: contain;
      float: left; }
    .lt_header .lt_top .logo {
      width: 0.82rem;
      height: 100%;
      background: url("../img/lt_logo.png") no-repeat center center;
      background-size: contain; }
    .lt_header .lt_top .right {
      display: block;
      width: 1.06rem;
      height: 100%;
      background: url("../img/lt_search.png") no-repeat center center;
      background-size: contain;
      float: right; }
  .lt_header .lt_bottom {
    width: 4.6rem;
    height: 0.71rem;
    margin: 0.36rem auto;
    background: url("../img/lt_card.png") no-repeat center center;
    background-size: contain;
    border-radius: 0.355rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.06rem; }
    .lt_header .lt_bottom .contant {
      width: 100%;
      height: 100%;
      background: pink; }
.tab {
  height: 0.72rem;
  width: 4.54rem;
  margin: 0 auto;
  margin-top: 0.12rem;
  background-image: url("../img/s_tab_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0.08rem 0.06rem; }
  .tab a {
    display: block;
    height: 100%;
    line-height: 0.56rem;
    float: left;
    color: #86898e;
    position: relative; }
    .tab a:after {
      display: block;
      position: absolute;
      content: '';
      width: 0.04rem;
      height: 0.04rem;
      background: #616871;
      border-radius: 0.02rem; }
    .tab a span {
      display: block;
      width: 0.8rem;
      margin: 0 auto;
      text-align: justify; }
      .tab a span:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0; }
  .tab .active {
    background-image: url("../img/s_a_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff; }
    .tab .active:after {
      display: none; }

.lt_music {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 0.45rem; }
  .lt_music .cover {
    width: 100%;
    height: 0.63rem;
    background: url("../img/lt_cover.png") no-repeat center bottom;
    background-size: cover;
    position: absolute;
    top: 0; }
  .lt_music .lt_cate {
    padding: 0 0.22rem;
    overflow: hidden; }
    .lt_music .lt_cate a {
      height: 1.9rem;
      border-radius: 0.04rem;
      position: relative; }
      .lt_music .lt_cate a p {
        text-align: center;
        font-size: 0.23rem;
        position: absolute;
        bottom: 0.19rem; }
    .lt_music .lt_cate a:nth-child(1) {
      background: url("../img/lt_green.png") no-repeat left center;
      background-size: contain;
      color: #68ebe8; }
    .lt_music .lt_cate a:nth-child(2) {
      background: url("../img/lt_blue.png") no-repeat left center;
      background-size: contain;
      color: #597599; }
    .lt_music .lt_cate a:nth-child(3) {
      background: url("../img/lt_puple.png") no-repeat left center;
      background-size: contain;
      color: #8a5c99; }
    .lt_music .lt_cate a:nth-child(4) {
      background: url("../img/lt_red.png") no-repeat left center;
      background-size: contain;
      color: #934e6d; }
  .lt_music .lt_hot {
    width: 100%;
    height: 6.56rem;
    background: #f33c53;
    margin-top: 0.46rem;
    box-sizing: border-box;
    padding: 0.17rem 0.22rem;
    padding-bottom: 0;
    position: relative; }
    .lt_music .lt_hot .top {
      width: 100%;
      height: 0.82rem; }
      .lt_music .lt_hot .top .left {
        width: 2.21rem;
        height: 100%;
        background: url("../img/lt_hot1.png") no-repeat center center;
        background-size: contain;
        float: left; }
      .lt_music .lt_hot .top .right {
        width: 1.18rem;
        height: 100%;
        background: url("../img/lt_bread.png") no-repeat center center;
        background-size: contain;
        float: right; }
    .lt_music .lt_hot .bottom {
      width: 100%;
      height: 4.72rem;
      overflow: hidden;
      margin-top: 0.2rem; }
      .lt_music .lt_hot .bottom .left {
        width: 3.38rem;
        height: 4.72rem;
        background: #f6f6f6;
        float: left;
        border-radius: 0.08rem; }
        .lt_music .lt_hot .bottom .left .left_img {
          width: 100%;
          height: 2.62rem;
          background: url("../img/lt_people.png") no-repeat center center;
          background-size: cover;
          position: relative; }
          .lt_music .lt_hot .bottom .left .left_img .bot {
            width: 100%;
            height: 0.07rem;
            background: url("../img/lt_bot.png") repeat-x center center;
            background-size: contain;
            bottom: -0.035rem; }
            .lt_music .lt_hot .bottom .left .left_img .bot .lt_left {
              width: 0.18rem;
              height: 0.18rem;
              border-radius: 50%;
              background: #e94748;
              left: -0.09rem; }
            .lt_music .lt_hot .bottom .left .left_img .bot .lt_right {
              width: 0.18rem;
              height: 0.18rem;
              border-radius: 50%;
              background: #e94748;
              right: -0.09rem; }
        .lt_music .lt_hot .bottom .left .left_detail {
          width: 100%;
          height: 2.1rem;
          box-sizing: border-box;
          padding-left: 0.19rem;
          padding-right: 0.28rem;
          padding-top: 0.19rem; }
          .lt_music .lt_hot .bottom .left .left_detail p:nth-child(1) {
            font-size: 0.24rem;
            color: #000000;
            font-weight: bold; }
            @media (max-width: 320px) {
              .lt_music .lt_hot .bottom .left .left_detail p:nth-child(1) {
                line-height: 1em; } }
          .lt_music .lt_hot .bottom .left .left_detail p:nth-child(2) {
            font-size: 0.18rem;
            color: #44484d;
            font-weight: bold; }
            @media (max-width: 320px) {
              .lt_music .lt_hot .bottom .left .left_detail p:nth-child(2) {
                line-height: 1em; } }
          .lt_music .lt_hot .bottom .left .left_detail p:nth-child(3) {
            font-size: 12px;
            color: #6d7074;
            line-height: 1em; }
            @media (max-width: 320px) {
              .lt_music .lt_hot .bottom .left .left_detail p:nth-child(3) {
                line-height: 1em; } }
          .lt_music .lt_hot .bottom .left .left_detail p:nth-child(4) {
            width: 100%;
            height: 0.05rem;
            background: url("../img/lt_line.png") no-repeat left center;
            background-size: contain;
            margin-top: 0.17rem; }
          .lt_music .lt_hot .bottom .left .left_detail .lt_read {
            width: 100%;
            height: 0.25rem; }
            .lt_music .lt_hot .bottom .left .left_detail .lt_read .first {
              width: auto;
              height: 100%;
              float: left; }
              .lt_music .lt_hot .bottom .left .left_detail .lt_read .first img {
                width: 0.32rem;
                height: 0.25rem; }
              .lt_music .lt_hot .bottom .left .left_detail .lt_read .first span {
                font-size: 12px;
                color: #838588; }
            .lt_music .lt_hot .bottom .left .left_detail .lt_read .later {
              width: auto;
              height: 100%;
              float: left;
              margin-left: 0.12rem; }
              .lt_music .lt_hot .bottom .left .left_detail .lt_read .later img {
                width: 0.25rem;
                height: 0.24rem; }
              .lt_music .lt_hot .bottom .left .left_detail .lt_read .later span {
                font-size: 12px;
                color: #838588; }
      .lt_music .lt_hot .bottom .right {
        width: 3.38rem;
        height: 4.72rem;
        background: #f6f6f6;
        float: right;
        border-radius: 0.08rem; }
        .lt_music .lt_hot .bottom .right .left_img {
          width: 100%;
          height: 2.62rem;
          background: url("../img/lt_people.png") no-repeat center center;
          background-size: cover;
          position: relative; }
          .lt_music .lt_hot .bottom .right .left_img .bot {
            width: 100%;
            height: 0.07rem;
            background: url("../img/lt_bot.png") repeat-x center center;
            background-size: contain;
            bottom: -0.035rem; }
            .lt_music .lt_hot .bottom .right .left_img .bot .lt_left {
              width: 0.18rem;
              height: 0.18rem;
              border-radius: 50%;
              background: #e94748;
              left: -0.09rem; }
            .lt_music .lt_hot .bottom .right .left_img .bot .lt_right {
              width: 0.18rem;
              height: 0.18rem;
              border-radius: 50%;
              background: #e94748;
              right: -0.09rem; }
        .lt_music .lt_hot .bottom .right .left_detail {
          width: 100%;
          height: 2.1rem;
          box-sizing: border-box;
          padding-left: 0.19rem;
          padding-right: 0.28rem;
          padding-top: 0.19rem; }
          .lt_music .lt_hot .bottom .right .left_detail p:nth-child(1) {
            font-size: 0.24rem;
            color: #000000;
            font-weight: bold; }
            @media (max-width: 320px) {
              .lt_music .lt_hot .bottom .right .left_detail p:nth-child(1) {
                line-height: 1em; } }
          .lt_music .lt_hot .bottom .right .left_detail p:nth-child(2) {
            font-size: 0.18rem;
            color: #44484d;
            font-weight: bold; }
            @media (max-width: 320px) {
              .lt_music .lt_hot .bottom .right .left_detail p:nth-child(2) {
                line-height: 1em; } }
          .lt_music .lt_hot .bottom .right .left_detail p:nth-child(3) {
            font-size: 12px;
            color: #6d7074;
            line-height: 1em; }
            @media (max-width: 320px) {
              .lt_music .lt_hot .bottom .right .left_detail p:nth-child(3) {
                line-height: 1em; } }
          .lt_music .lt_hot .bottom .right .left_detail p:nth-child(4) {
            width: 100%;
            height: 0.05rem;
            background: url("../img/lt_line.png") no-repeat left center;
            background-size: contain;
            margin-top: 0.17rem; }
          .lt_music .lt_hot .bottom .right .left_detail .lt_read {
            width: 100%;
            height: 0.25rem; }
            .lt_music .lt_hot .bottom .right .left_detail .lt_read .first {
              width: auto;
              height: 100%;
              float: left; }
              .lt_music .lt_hot .bottom .right .left_detail .lt_read .first img {
                width: 0.32rem;
                height: 0.25rem; }
              .lt_music .lt_hot .bottom .right .left_detail .lt_read .first span {
                font-size: 12px;
                color: #838588;
                line-height: 0.25rem; }
            .lt_music .lt_hot .bottom .right .left_detail .lt_read .later {
              width: auto;
              height: 100%;
              float: left;
              margin-left: 0.12rem; }
              .lt_music .lt_hot .bottom .right .left_detail .lt_read .later img {
                width: 0.25rem;
                height: 0.24rem; }
              .lt_music .lt_hot .bottom .right .left_detail .lt_read .later span {
                font-size: 12px;
                color: #838588; }
    .lt_music .lt_hot .three {
      width: 100%;
      height: 0.13rem;
      position: absolute;
      bottom: 0;
      background: url("../img/lt_three.png"); }
  .lt_music .lt_new {
    width: 100%;
    height: auto;
    background: #f6f6f6;
    margin-top: 0.46rem;
    box-sizing: border-box;
    padding: 0.17rem 0.22rem;
    padding-bottom: 0;
    position: relative; }
    .lt_music .lt_new .top {
      width: 100%;
      height: 0.82rem; }
      .lt_music .lt_new .top .left {
        width: 2.21rem;
        height: 100%;
        background: url("../img/lt_new.png") no-repeat center center;
        background-size: contain;
        float: left; }
      .lt_music .lt_new .top .right {
        width: 1.18rem;
        height: 100%;
        background: url("../img/lt_breads.png") no-repeat center center;
        background-size: contain;
        float: right; }
    .lt_music .lt_new .center {
      width: 100%;
      height: auto;
      margin-top: 0.26rem; }
      .lt_music .lt_new .center .lt_about {
        width: 100%;
        height: 0.96rem; }
        .lt_music .lt_new .center .lt_about .lt_img {
          width: 0.82rem;
          height: 0.82rem;
          background: #f8f8f8;
          border-radius: 0.03rem;
          transform: rotateZ(20deg);
          box-shadow: 0.04rem 0.04rem 0.07rem 0.03rem #e8e2e2;
          float: left; }
          .lt_music .lt_new .center .lt_about .lt_img .lt_back {
            width: 0.82rem;
            height: 0.82rem;
            background: url("../img/lt_person.png") no-repeat center center;
            background-size: cover;
            border: 2px solid #ffffff;
            border-radius: 0.03rem;
            transform: rotateZ(-20deg);
            box-shadow: 0.04rem 0.04rem 0.07rem 0.03rem #e8e2e2; }
        .lt_music .lt_new .center .lt_about .lt_intro {
          width: 6.05rem;
          height: 100%;
          float: right; }
          .lt_music .lt_new .center .lt_about .lt_intro p:nth-child(1) {
            color: #6e737a;
            font-size: 12px; }
            .lt_music .lt_new .center .lt_about .lt_intro p:nth-child(1) span:nth-child(1) {
              color: #000000;
              font-weight: bold; }
            .lt_music .lt_new .center .lt_about .lt_intro p:nth-child(1) span:nth-child(2) {
              float: right; }
          .lt_music .lt_new .center .lt_about .lt_intro .line {
            width: 0.54rem;
            height: 0.03rem;
            background: #dfdfdf; }
          .lt_music .lt_new .center .lt_about .lt_intro .special {
            font-size: 13px;
            color: #6e737a; }
            .lt_music .lt_new .center .lt_about .lt_intro .special .lt_star {
              width: 2.47rem;
              height: 0.27rem;
              float: right;
              margin-top: 0.06rem; }
              .lt_music .lt_new .center .lt_about .lt_intro .special .lt_star .cate {
                display: block;
                width: 0.22rem;
                height: 0.27rem;
                float: left;
                background: url("../img/lt_star.png");
                background-size: contain;
                margin-right: 0.06rem; }
      .lt_music .lt_new .center .lt_banner {
        width: 100%;
        height: 3.68rem;
        margin-top: 0.3rem;
        position: relative;
        margin: 0 auto; }
        .lt_music .lt_new .center .lt_banner li:nth-child(1) {
          width: 6.6rem;
          height: 3.68rem;
          border: 0.04rem solid #ffffff;
          border-radius: 0.04rem;
          left: 0;
          background: url("../img/lt_banner.png") no-repeat center center;
          background-size: contain;
          z-index: 3; }
        .lt_music .lt_new .center .lt_banner li:nth-child(2) {
          width: 5.43rem;
          height: 3.31rem;
          border: 0.04rem solid #ffffff;
          border-radius: 0.04rem;
          left: 1.3rem;
          background: url("../img/lt_banner.png") no-repeat center center;
          background-size: cover;
          z-index: 2; }
        .lt_music .lt_new .center .lt_banner li:nth-child(3) {
          width: 4.89rem;
          height: 2.96rem;
          border: 0.04rem solid #ffffff;
          border-radius: 0.04rem;
          left: 2.03rem;
          background: url("../img/lt_banner.png") no-repeat center center;
          background-size: cover;
          z-index: 1; }
      .lt_music .lt_new .center .lt_see {
        width: 100%;
        height: 0.67rem;
        margin-top: 0.57rem; }
        .lt_music .lt_new .center .lt_see li {
          width: 1.51rem;
          height: 100%;
          float: left;
          margin-right: 0.13rem; }
        .lt_music .lt_new .center .lt_see li:nth-child(1) {
          background: url("../img/lt_buy.png") no-repeat center center;
          background-size: contain; }
        .lt_music .lt_new .center .lt_see li:nth-child(2) {
          background: url("../img/lt_see.png") no-repeat center center;
          background-size: contain; }
        .lt_music .lt_new .center .lt_see li:nth-child(3) {
          width: 2.28rem;
          height: 100%;
          float: right; }
          .lt_music .lt_new .center .lt_see li:nth-child(3) div {
            width: 0.67rem;
            height: 0.67rem;
            border-radius: 50%;
            border: 0.04rem solid #ffffff;
            float: left;
            margin-right: -0.17rem;
            background: url("../img/lt_banner.png") no-repeat center center;
            background-size: cover; }
      .lt_music .lt_new .center .lt_famouse {
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
        overflow: hidden; }
        .lt_music .lt_new .center .lt_famouse li {
          width: 3.34rem;
          height: auto; }
        .lt_music .lt_new .center .lt_famouse li:nth-child(1) {
          margin-right: 0.21rem;
          float: left; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(1) .img {
            width: 3.34rem;
            height: 2rem;
            border-radius: 0.04rem;
            float: left;
            box-sizing: border-box;
            border: 0.04rem solid #ffffff;
            background: url("../img/lt_woman.png") no-repeat center center;
            background-size: contain; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(1) .title {
            color: #53575e;
            font-size: 14px;
            margin-left: 50%; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(1) .gan {
            width: 0.47rem;
            height: 0.05rem;
            background: url("../img/lt_gan.png") no-repeat center center;
            background-size: contain;
            margin: 0.07rem auto; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(1) .content {
            font-size: 12px;
            color: #6e737a;
            text-align: center; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(1) .lt_stars {
            width: 0.85rem;
            height: 0.27rem;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 0.15rem; }
            .lt_music .lt_new .center .lt_famouse li:nth-child(1) .lt_stars .star {
              float: left;
              margin-right: 0.08rem;
              width: 0.22rem;
              height: 0.27rem;
              background: url("../img/lt_star.png") no-repeat center center;
              background-size: cover; }
            .lt_music .lt_new .center .lt_famouse li:nth-child(1) .lt_stars .star:nth-child(3) {
              margin-right: 0; }
        .lt_music .lt_new .center .lt_famouse li:nth-child(2) {
          float: right; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(2) .img {
            width: 3.34rem;
            height: 2rem;
            border-radius: 0.04rem;
            float: left;
            box-sizing: border-box;
            border: 0.04rem solid #ffffff;
            background: url("../img/lt_ku.png") no-repeat center center;
            background-size: contain; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(2) .title {
            color: #53575e;
            font-size: 14px;
            margin-left: 40%; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(2) .gan {
            width: 0.47rem;
            height: 0.05rem;
            background: url("../img/lt_gan.png") no-repeat center center;
            background-size: contain;
            margin: 0.07rem auto; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(2) .content {
            font-size: 12px;
            color: #6e737a;
            text-align: center; }
          .lt_music .lt_new .center .lt_famouse li:nth-child(2) .lt_stars {
            width: 0.85rem;
            height: 0.27rem;
            margin: 0 auto;
            overflow: hidden;
            margin-top: 0.15rem; }
            .lt_music .lt_new .center .lt_famouse li:nth-child(2) .lt_stars .star {
              float: left;
              margin-right: 0.08rem;
              width: 0.22rem;
              height: 0.27rem;
              background: url("../img/lt_star.png") no-repeat center center;
              background-size: cover; }
            .lt_music .lt_new .center .lt_famouse li:nth-child(2) .lt_stars .star:nth-child(3) {
              margin-right: 0; }

.zky_music {
  width: 100%;
  height: 1.76rem;
  background: #dad8d8;
  z-index: 99;
  position: fixed;
  bottom: 0; }
  .zky_music .progress {
    width: 100%;
    height: 0.1rem;
    position: relative; }
    .zky_music .progress .inner {
      height: 100%;
      width: 5rem;
      background: #f33c53;
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem; }
  .zky_music .play {
    width: 100%;
    height: 1.66rem;
    background: #16181f;
    position: relative;
    overflow: hidden;
    padding-right: 0.24rem; }
    .zky_music .play .special {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background: red;
      position: absolute;
      left: -0.65rem;
      top: -0.57rem;
      background: url("../img/zky_spe.png") no-repeat center center;
      background-size: 2.88rem 1.78rem; }
    .zky_music .play .song {
      width: 3.3rem;
      height: 1.66rem;
      position: absolute;
      left: 2.15rem;
      top: 0;
      padding: 0.4rem 0 0 0.3rem; }
      .zky_music .play .song h1 {
        color: #fff;
        font-size: 0.44rem; }
      .zky_music .play .song h3 {
        color: #575f6a;
        font-size: 0.3rem; }
    .zky_music .play .button {
      width: 2.36rem;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.5rem 0.4rem 0 0; }
      .zky_music .play .button .prev {
        width: 0.3rem;
        height: 0.91rem;
        background: url("../img/zky_prev.png") no-repeat left center;
        background-size: 0.3rem 0.29rem;
        float: left; }
      .zky_music .play .button .playbtn {
        width: 1.34rem;
        height: 0.91rem;
        background: url("../img/playbtn.png") no-repeat center center;
        background-size: 0.93rem 0.91rem;
        float: left; }
      .zky_music .play .button .next {
        width: 0.3rem;
        height: 0.91rem;
        background: url("../img/zky_next.png") no-repeat left center;
        background-size: 0.3rem 0.29rem;
        float: left; }
