.font-18 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-18 {
      font-size: 12px; } }
  @media (min-width: 375px) {
    .font-18 {
      font-size: 14px; } }
  @media (min-width: 750px) {
    .font-18 {
      font-size: 18px; } }

.font-20 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-20 {
      font-size: 12px; } }
  @media (min-width: 375px) {
    .font-20 {
      font-size: 14px; } }
  @media (min-width: 750px) {
    .font-20 {
      font-size: 20px; } }

.font-28 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-28 {
      font-size: 12px; } }
  @media (min-width: 360px) {
    .font-28 {
      font-size: 14px; } }
  @media (min-width: 375px) {
    .font-28 {
      font-size: 16px; } }
  @media (min-width: 412px) {
    .font-28 {
      font-size: 16px; } }
  @media (min-width: 750px) {
    .font-28 {
      font-size: 28px; } }

.font-30 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-30 {
      font-size: 14px; } }
  @media (min-width: 360px) {
    .font-30 {
      font-size: 16px; } }
  @media (min-width: 375px) {
    .font-30 {
      font-size: 18px; } }
  @media (min-width: 412px) {
    .font-30 {
      font-size: 20px; } }
  @media (min-width: 750px) {
    .font-30 {
      font-size: 30px; } }

.font-26 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-26 {
      font-size: 12px; } }
  @media (min-width: 360px) {
    .font-26 {
      font-size: 14px; } }
  @media (min-width: 375px) {
    .font-26 {
      font-size: 16px; } }
  @media (min-width: 412px) {
    .font-26 {
      font-size: 16px; } }
  @media (min-width: 750px) {
    .font-26 {
      font-size: 26px; } }

.font-24 {
  font-size: 12px; }
  @media (min-width: 320px) {
    .font-24 {
      font-size: 12px; } }
  @media (min-width: 360px) {
    .font-24 {
      font-size: 14px; } }
  @media (min-width: 375px) {
    .font-24 {
      font-size: 16px; } }
  @media (min-width: 412px) {
    .font-24 {
      font-size: 16px; } }
  @media (min-width: 750px) {
    .font-24 {
      font-size: 24px; } }

.font-44 {
  font-size: 16px; }
  @media (min-width: 320px) {
    .font-44 {
      font-size: 16px; } }
  @media (min-width: 360px) {
    .font-44 {
      font-size: 18px; } }
  @media (min-width: 375px) {
    .font-44 {
      font-size: 20px; } }
  @media (min-width: 412px) {
    .font-44 {
      font-size: 24px; } }
  @media (min-width: 750px) {
    .font-44 {
      font-size: 44px; } }

.font-48 {
  font-size: 16px; }
  @media (min-width: 320px) {
    .font-48 {
      font-size: 16px; } }
  @media (min-width: 360px) {
    .font-48 {
      font-size: 18px; } }
  @media (min-width: 375px) {
    .font-48 {
      font-size: 20px; } }
  @media (min-width: 412px) {
    .font-48 {
      font-size: 24px; } }
  @media (min-width: 750px) {
    .font-48 {
      font-size: 48px; } }

.playlist .text .btn div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.zky_container {
  width: 100%;
  background: #353b44; }

.zky_tit {
  width: 100%;
  height: 0.88rem;
  background: url("../img/zky_bg.png") no-repeat center center;
  background-size: 7.5rem 0.88rem;
  position: relative; }
  .zky_tit .inner {
    padding: 0 0.24rem;
    color: #d5d5d5;
    font-size: 0.3rem;
    width: 100%;
    height: 0.55rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto; }
    .zky_tit .inner .left {
      width: 0.29rem;
      height: 0.55rem;
      float: left; }
    .zky_tit .inner .right {
      width: 0.38rem;
      height: 0.38rem;
      float: right;
      margin-top: 0.08rem; }
    .zky_tit .inner i {
      float: right;
      font-size: 0.36rem;
      font-style: normal; }
    .zky_tit .inner span {
      width: 1.55rem;
      text-align: center;
      height: 100%;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto; }

.nav {
  height: 3.08rem;
  background: #262b32;
  padding-top: 0.78rem; }
  .nav .box {
    width: 6.92rem;
    margin: 0 auto;
    height: 100%; }
    .nav .box li {
      width: 1.35rem;
      height: 100%;
      float: left;
      margin: 0 0.19rem; }
      .nav .box li img {
        width: 100%; }
      .nav .box li p {
        text-align: center;
        color: #a3a8ae; }
        .nav .box li p span {
          display: inline-block;
          width: 0.05rem;
          height: 0.05rem;
          border-radius: 50%;
          background: #a3a8ae;
          margin: 0 0.05rem 0.05rem 0.05rem; }
    .nav .box .active p {
      color: #fff; }

.zky_search {
  height: 1.5rem;
  width: 100%;
  padding-top: 0.34rem;
  background-size: 7.02rem 0.05rem;
  position: relative; }
  .zky_search .side {
    position: absolute;
    background: rgba(21, 24, 28, 0.5);
    width: 0.38rem;
    padding: 0.1rem 0.1rem;
    top: 80%;
    right: 0;
    z-index: 9;
    line-height: 1.2em;
    border-radius: 0.19rem;
    text-align: center; }
    .zky_search .side a {
      color: #fefeff; }
  .zky_search .input {
    width: 100%;
    height: 0.8rem;
    border-radius: 0.1rem;
    background: #3f454e;
    padding: 0.2rem 0.28rem 0.2rem 0.2rem;
    line-height: 0.4rem; }
    .zky_search .input img {
      width: 0.28rem;
      height: 0.28rem; }
    .zky_search .input input {
      background: transparent;
      color: #d5d5d5;
      font-size: 0.3rem;
      line-height: 0.32rem; }
    .zky_search .input .pin {
      float: right;
      width: 0.32rem;
      height: 0.32rem; }

.zky_list {
  padding: 0 0.24rem 0.2rem 0.24rem;
  margin-bottom: 1.76rem;
  background: url("../img/s_list_bg.jpg") no-repeat left top;
  background-size: 101% 2.2rem; }
  .zky_list .play {
    height: 1.1rem;
    padding: 0 0.26rem 0 0.22rem; }
    .zky_list .play .playLeft {
      width: 2.65rem;
      height: 100%;
      background: url("../img/zky_play.png") no-repeat;
      background-size: 2.65rem 0.82rem;
      float: left; }
    .zky_list .play .playRight {
      width: 3rem;
      height: 100%;
      float: right;
      text-align: right;
      line-height: 0.60rem;
      font-size: 0.24rem;
      color: #d5d5d5; }
      .zky_list .play .playRight span {
        font-size: 0.72rem; }

.playlist {
  height: 1.48rem;
  width: 100%;
  border-radius: 0.1rem;
  margin-bottom: 0.12rem;
  overflow: hidden;
  position: relative;
  background: #f8f8f9 url("../img/s_list_lb.jpg") 5.5rem top no-repeat;
  background-size: 0.44rem 100%; }
  .playlist img {
    width: 1.49rem;
    height: 1.48rem; }
  .playlist .text {
    width: 5.6rem;
    height: 100%;
    border-radius: 0.1rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.22rem 0 0.1rem 0.5rem;
    background: url("../img/s_list_a.png") 0.2rem 0.26rem no-repeat;
    background-size: 0.3rem 0.3rem; }
    .playlist .text .tit {
      color: #272c33;
      line-height: 1em; }
      .playlist .text .tit span {
        font-weight: bold; }
    .playlist .text .bottom {
      width: 100%;
      height: 0.72rem; }
      .playlist .text .bottom .b_left {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        border: 0.02rem solid #fff;
        margin-top: 0.01rem;
        float: left; }
      .playlist .text .bottom .b_right {
        width: 2.6rem;
        height: 100%;
        float: left;
        margin-left: 0.12rem;
        background: url("../img/s_list_line.png") left 0.04rem no-repeat;
        background-size: 100%;
        padding-top: 0.04rem; }
        .playlist .text .bottom .b_right .p_top span {
          float: left; }
        .playlist .text .bottom .b_right .p_top .right {
          margin-left: 0.16rem;
          margin-top: 0.14rem; }
        .playlist .text .bottom .b_right .p_top img {
          width: 0.16rem;
          height: 0.16rem;
          float: left;
          margin: 0 0.01rem; }
        .playlist .text .bottom .b_right .p_top:after {
          content: '';
          display: block;
          clear: both; }
        .playlist .text .bottom .b_right .p_bot {
          color: #a9a9aa; }
          .playlist .text .bottom .b_right .p_bot .left {
            float: left;
            padding-left: 0.22rem;
            background: url("../img/s_mess.png") no-repeat left center;
            background-size: 0.18rem 0.2rem;
            margin-right: 0.36rem; }
          .playlist .text .bottom .b_right .p_bot .right {
            float: left;
            padding-left: 0.22rem;
            background: url("../img/s_love.png") no-repeat left center;
            background-size: 0.18rem 0.2rem; }
          .playlist .text .bottom .b_right .p_bot:after {
            content: '';
            display: block;
            clear: both; }
    .playlist .text .btn {
      width: 0.76rem;
      height: 0.76rem;
      position: absolute;
      background: url("../img/s_30.png") no-repeat center center;
      background-size: 100%;
      right: 0.22rem;
      bottom: 0.3rem; }
      .playlist .text .btn div {
        width: 0.58rem;
        height: 0.58rem;
        border-radius: 50%;
        background: #262b32;
        color: #d9d9da;
        line-height: 0.58rem;
        text-align: center; }

.zky_music {
  width: 100%;
  height: 1.76rem;
  background: #dad8d8;
  position: fixed;
  bottom: 0;
  z-index: 10; }
  .zky_music .progress {
    width: 100%;
    height: 0.1rem;
    position: relative; }
    .zky_music .progress .inner {
      height: 100%;
      width: 5rem;
      background: #f33c53;
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem; }
  .zky_music .play {
    width: 100%;
    height: 1.66rem;
    background: #16181f;
    position: relative;
    overflow: hidden;
    padding-right: 0.24rem; }
    .zky_music .play .special {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background: red;
      position: absolute;
      left: -0.65rem;
      top: -0.57rem;
      background: url("../img/zky_spe.png") no-repeat center center;
      background-size: 2.88rem 1.78rem; }
    .zky_music .play .song {
      width: 3.3rem;
      height: 1.66rem;
      position: absolute;
      left: 2.15rem;
      top: 0;
      padding: 0.4rem 0 0 0.3rem; }
      .zky_music .play .song h1 {
        color: #fff;
        font-size: 0.44rem; }
      .zky_music .play .song h3 {
        color: #575f6a;
        font-size: 0.3rem; }
    .zky_music .play .button {
      width: 2.36rem;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.5rem 0.4rem 0 0; }
      .zky_music .play .button .prev {
        width: 0.3rem;
        height: 0.91rem;
        background: url("../img/zky_prev.png") no-repeat left center;
        background-size: 0.3rem 0.29rem;
        float: left; }
      .zky_music .play .button .playbtn {
        width: 1.34rem;
        height: 0.91rem;
        background: url("../img/playbtn.png") no-repeat center center;
        background-size: 0.93rem 0.91rem;
        float: left; }
      .zky_music .play .button .next {
        width: 0.3rem;
        height: 0.91rem;
        background: url("../img/zky_next.png") no-repeat left center;
        background-size: 0.3rem 0.29rem;
        float: left; }
