<?php include(VIEW.'admin/header.html') ?>
<?php include(VIEW.'admin/sidenav.html') ?>
<div class="col-sm-9 col-xs-12">
    <div class="text-center panel panel-info"  >
        <div class="text-center panel panel-info panel-heading">专辑管理</div>
        <div class="panel-body">

            <div class="btn btn-primary btn-block btn-sm" id="add">+</div>


            <?php foreach($albums as $k=>$v): ?>
            <div class="media">
                <a class="media-left" href="#" style="position: relative">
                    <?php if(empty($v['album_pic'])): ?>
                    <img width="100" height="100" style="border-radius: 20%" src="/music/static/image/img/kaishi.png" alt="">
                    <?php else:?>
                    <img width="100" height="100" style="border-radius: 20%" src="<?php echo $v['album_pic']?>" alt="...">
                    <?php endif;?>
                    <form action="" enctype="multipart/form-data">
                        <label for="file<?php echo $v['album_id']?>" style="position: absolute;width:100%;height:100%;left:0;top:0"></label>
                        <input type="file" id="file<?php echo $v['album_id']?>" style="display: none">
                    </form>
                </a>
                <div class="media-body">
                    <div class="bs-example">
                        <dl class="dl-horizontal" style="font-size:24px">
                            <dt>专辑名</dt>
                            <dd>
                                <input type="text" class="form-control input-sm" value="<?php echo $v['album_name']?>">
                            </dd>
                            <dt>歌手</dt>
                            <dd>
                                <input type="text" class="form-control input-sm" value="<?php echo $v['artist_name']?>">
                                <div class="tips"></div>
                            </dd>
                            <dt>分类</dt>
                            <dd>
                                <select class="form-control input-sm">
                                    <?php foreach($cates as $k=>$cate):?>
                                    <option value="<?php echo $cate['cate_id']?>" <?php echo ($v['cate_name']==$cate['cate_name'])?'selected':''?>>
                                    <?php echo $cate['cate_name']; ?>
                                    </option>
                                    <?php endforeach;?>
                                </select>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
</div>
</div>

<script src="<?php echo JS_PATH?>admin/album.js"></script>
<?php include(VIEW.'admin/footer.html') ?>
