<div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/music/index.php/admin/index">分类管理</a>
                </li>
                <li class="list-group-item">
                    <a href="/music/index.php/admin/artist">歌手管理</a>
                </li>
                <li class="list-group-item">
                    <a href="/music/index.php/admin/">歌曲管理</a>
                </li>
                <li class="list-group-item">
                    <a href="/music/index.php/admin/album">专辑管理</a>
                </li>
            </ul>
        </div>
