<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>歌单页</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>mycss/public.css"/>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>mycss/play.css"/>
    <script src="<?php echo JS_PATH ?>myjs/jquery.js"></script>
    <script src="<?php echo JS_PATH ?>myjs/extend.js"></script>
    <script src="<?php echo JS_PATH ?>myjs/play.js"></script>
</head>
<body>
<div class="bgbox">
    <a href="#" class="qqbox"></a>
    <div class="loginbox">
        <a href="#">登录</a>
        <a href="#">设置</a>
    </div>
    <div class="bodybox">
        <div class="tabbox">
            <div class="tableftbox">
                <div class="leftnav">
                    <a href="#">
                        <i></i>
                        <h3>收藏</h3>
                    </a>
                    <a href="#">
                        <i></i>
                        <h3>添加到</h3>
                    </a>
                    <a href="#">
                        <i></i>
                        <h3>下载</h3>
                    </a>
                    <a href="#">
                        <i></i>
                        <h3>删除</h3>
                    </a>
                    <a href="#">
                        <i></i>
                        <h3>清空列表</h3>
                    </a>
                </div>
                <div class="leftcon">
                    <div class="lists">
                        <div class="inputbox">
                            <div class="input"></div>
                        </div>
                        <div class="sing">歌曲</div>
                        <div class="singer">歌手</div>
                        <div class="time">时长</div>
                    </div>
                    <!--<div class="lists list">
                        <div class="inputbox">
                            <div class="input"></div>
                        </div>
                        <div class="sing">1 多亮
                            <div class="share"></div>
                            <div class="add"></div>
                            <div class="bofang"></div>
                        </div>
                        <div class="singer">多亮</div>
                        <div class="time">03:04</div>
                        <div class="delete"></div>
                    </div>
                    <div class="lists list">
                        <div class="inputbox">
                            <div class="input"></div>
                        </div>
                        <div class="sing">2 Breaking Out
                            <div class="share"></div>
                            <div class="add"></div>
                            <div class="bofang"></div>
                        </div>
                        <div class="singer">多亮</div>
                        <div class="time">03:38</div>
                        <div class="delete"></div>
                    </div>
                    <div class="lists list">
                        <div class="inputbox">
                            <div class="input"></div>
                        </div>
                        <div class="sing">3 幻灭
                            <div class="share"></div>
                            <div class="add"></div>
                            <div class="bofang"></div>
                        </div>
                        <div class="singer">多亮</div>
                        <div class="time">03:04</div>
                        <div class="delete"></div>
                    </div>-->
                </div>
            </div>
            <div class="tabrightbox">
                <div class="tabrightbg"></div>
            </div>
        </div>
        <div class="jindutiao">
            <div class="pre"></div>
            <div class="stop"></div>
            <div class="next"></div>
            <div class="jindu">
                <div class="yuan"></div>
                <div class="line"></div>
            </div>
            <div class="shunxu"></div>
            <div class="like"></div>
            <div class="xiazai"></div>
            <div class="chunjin"></div>
            <div class="voice"></div>
            <div class="voicejindu">
                <div class="yuan"></div>
                <div class="line"></div>
                <div class="light"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>